.card-heading {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  background: #ffc55a;
}
.card-heading h1 {
  padding-top: 50px;
}

.cards-container h1 {
  font-size: 5px;
  text-align: center;
}
.cards {
  width: 100%;
  margin-top: 15px;
  height: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  /* background: #f7f7f7; */
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0);
}
.card {
  background-color: #f7f7f7;
  padding: 10px;
  border: 2px solid red;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 30px 15px;

  width: 300px;
}
.card-name {
  /* border: 2px solid blue; */
  margin-bottom: 5px;
  text-align: center;
}
.card-description {
  font-size: 18px;
  /* border: 2px solid brown; */
  margin-top: 5px;
  margin-bottom: 2px;
}
.card-description p {
  margin-bottom: 10px;
  line-height: 25px;
}

.card-prices {
  background: #2c4e80;
  color: white;
}
.card-image {
  width: 100%;
  height: 100%;
}
.card-prices p {
  margin: 0px;
  padding: 2px;
}
.card-image-img {
  width: 100%;
  width: 300px;
  height: 250px;
  border-radius: 12px;
  /* margin-left: 35px; */
}
.bg {
  background: #ffc55a;
  width: 100%;
}
