.packages {
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
  justify-content: center;
  gap: 2rem;
  border: 2px solid red;
  
}

.package {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
  width: 300px;
  border: 2px solid blue;
}
.package-image {
  height: 15rem;
  width: 20rem;
  border-radius: 10px;
  overflow: hidden;
}

.package-image-img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.trip-container {
  background-color: #ffc55a;
  /* border: 2px solid red; */
  overflow: hidden;
  padding-bottom: 20px;
}
.trip-container h1 {
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.package-price {
  border: 2px solid #00215e;
  text-align: justify;
  background-color: #00215e;
  color: white;
}
.package-description {
  margin-bottom: 10px;
  text-align: center;
  line-height: 1.7;
}
.package-name {
  margin-top: 5px;
}
