.header{
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
    width: 100%;
    height: auto;
    align-items: center;
    background-color: #FC4100;
    flex-wrap: wrap;

}
@media screen and (max-width: 60.25em){
    .heading{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
}
    

.list{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 2rem;
    align-items: center;
    font-size: 1.4rem;
    transition: all;
    flex-wrap: wrap;
    
}
@media screen and (max-width: 60.25em){
    .list{
        text-align: center;
    }
}
.list:hover{
    /* transform: scale(1.1); */
    transition: all 0.5s ease-in-out;
    
}
.list-item{
    margin-right: 2rem;
    text-decoration: none;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
}
.list-item:hover{
    color: #F7F7F7;
    
    border-bottom: 2px solid blue;
    transition: all 0.5s ease-in-out;
}

.heading{
    font-size: 4rem;
}